.modal-blog.modal,
.modal-blog.overlay {
  overflow: scroll;
}
.modal-blog.modal .modal-content {
  position: relative;
  top: 10%;
  left: 0;
  max-width: 70%;
  margin: auto;
  margin-bottom: 10%;
}
.modal-blog .modal-content .left,
.modal-blog .modal-content .right {
  width: 100%;
  padding: 0;
  margin-top: 30px;
}
/*----------blog_contact--------*/

.blog_contact .left,
.blog_contact .right {
  margin: 0 25px 0 0;
}

/*----------blog_contact--------*/
@media (max-width: 768px) {
  .modal-blog.modal .modal-content {
    max-width: 90%;
  }
  .modal-blog.modal .modal-content {
    margin-bottom: 20%;
  }
}
/* @media (max-width:768px){
  .content .grid{
    display: block;
  }
    } */